{% extends "plantilla.html" %}

{% block body %}
<div class="container mt-5">
    <h2 class="text-center text-danger">¿Seguro que deseas eliminar este álbum?</h2>

    <form action="{{ url_for('albums.eliminarConfirmado', id=album[0]) }}" method="POST" class="mt-4">
        <div class="form-group mb-3">
            <input type="text" class="form-control" value="{{ album[1] }}" disabled>
        </div>

        <div class="form-group mb-3">
            <input type="text" class="form-control" value="{{ album[2] }}" disabled>
        </div>

        <div class="form-group mb-3">
            <input type="number" class="form-control" value="{{ album[3] }}" disabled>
        </div>

        <button type="submit" class="btn btn-danger">Eliminar Album</button>
    </form>

    <br>
    <a href="{{ url_for('albums.home') }}" class="btn btn-secondary">Regresar al Formulario</a>
</div>
{% endblock %}
